# configs
/app/config/parameters.yml

# var
/var/*
!var/SymfonyRequirements.php

# cache
!/var/cache
/var/cache/*
!var/cache/.gitkeep

# logs
.sass-cache/
npm-debug.log
/.web-server-pid
!/var/logs
/var/logs/*
!var/logs/.gitkeep

# sessions
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

# vendors
vendor/
bower_components/
#components/
node_modules/
modules/

# assets
/web/bundles/

# tests
/phpunit.xml
cov/
web/cov/

# build
/build/
!/build/debug/.gitkeep

# environment
*.*~
/.idea/*
python/.idea
/nbproject/*

# sourcemaps
/web/dist/css/*.css.map
/web/dist/js/*.js.map

# uploads
web/files/products/*
!web/files/products/apple.jpg
!web/files/products/bacon.jpg
!web/files/products/banana.jpg
!web/files/products/broccoli.jpg
!web/files/products/caesar's_salad.jpg
!web/files/products/cheese.jpg
!web/files/products/chef_salad.jpg
!web/files/products/cherry.jpg
!web/files/products/chicken.jpg
!web/files/products/eggs.jpg
!web/files/products/granola.jpg
!web/files/products/hot_chocolate.jpg
!web/files/products/milk.jpg
!web/files/products/omelet.jpg
!web/files/products/pizza.jpg
!web/files/products/sausage.jpg
!web/files/products/slice_*
!web/files/products/sugar*
!web/files/products/tea*
!web/files/products/water*
!web/files/products/yogurt*

web/files/activity/*
!web/files/activity/yoga.jpg
!web/files/activity/running.jpg
!web/files/activity/walking.jpg
!web/files/activity/gym.jpg

web/files/user/*
!web/files/user/*.svg

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
