# configs
/app/config/parameters.yml

# var
/var/*
!var/SymfonyRequirements.php

# cache
!/var/cache
/var/cache/*
!var/cache/.gitkeep

# logs
.sass-cache/
npm-debug.log
/.web-server-pid
!/var/logs
/var/logs/*
!var/logs/.gitkeep

# sessions
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

# vendors
vendor/
bower_components/
#components/
node_modules/
modules/

# assets
/web/bundles/

# tests
/phpunit.xml
cov/
web/cov/

# build
/build/
!/build/debug/.gitkeep

# environment
*.*~
.idea/*
/nbproject/*

# uploads
/web/uploads/

# sourcemaps
/web/dist/css/*.css.map
/web/dist/js/*.js.map