{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Products Edit{% endblock %}

{% block body %}
    <h1>Edit Product</h1>
    {% include 'EatingBundle:Product:form.html.twig' with {
        'form': form
    } %}
{% endblock %}
