{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Products{% endblock %}

{% block body %}
    <div class="ea-title">
        <h1>Products</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="ea-button ea-button_list">
                <a href="{{ path('product_new') }}">New Product</a>
            </div>
        {% endif %}
    </div>
    <div class="ea-list">
        {% for product in products %}
            {% include 'EatingBundle:Product:sheet.html.twig' with {
                'product': product
            } %}
        {% endfor %}
    </div>
{% endblock %}
