<footer class="ea-footer">
    <div><span>Created by :</span> someone</div>
    <div class="ea-link">
        <a href="http://www.google.com" rel="external">Google search</a>
        <script type="text/javascript">
            $('a[rel=external]').attr('target','_blank');
            console.log('this script works');
        </script>
    </div>
</footer>
