<div class="ea-header">
    <ul>
        <li><a href="{{ path('security_login') }}">Login</a></li>
        <li><a href="{{ path('user_list') }}">Users</a></li>
        <li><a href="{{ path('products_list') }}">Products</a></li>
        <li><a href="{{ path('activity_list') }}">Activities</a></li>
    </ul>
</div>
