* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 36px;
    padding: 25px 0 20px;
    text-align: center;
}

.ea-wrapper {
    background-color: rgba(39, 102, 145, 0.1);
}

.ea-header {
    position: relative;
}

.ea-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ea-list_items {
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(39, 102, 145, 0.2);
}

.ea-list_item {
    width: 50%;
    padding: 3px 15px;
    box-sizing: border-box;
}

.ea-list_item:nth-child(odd) {
    text-align: right;
}

.ea-list_item:nth-child(even) {
    font-weight: bolder;
}

.ea-list_name {
    width: 100%;
    font-size: 24px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.ea-button {
    background-color: rgba(39, 102, 145, 0.2);
    border-radius: 6px;
    position: absolute;
    top: 30px;
    right: 300px;
}

.ea-button a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bolder;
}

.ea-button:hover, .ea-list_items:hover {
    background-color: rgba(39, 102, 145, 0.5);
}
/*--------*/
/*NEW PRODUCT*/
/*--------*/
.ea-form__inside div{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    /*width: auto;*/
    padding: 15px 20px;
}
.ea-form__field {
    width: 40%;
}

.ea-form__label {
    width: 40%;
}
