* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 36px;
  padding: 35px 0;
  text-align: center; }

.ea-wrapper {
  margin: 60px auto;
  max-width: 1200px; }

.ea-title {
  position: relative; }

.ea-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .ea-list_items {
    width: 40%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(39, 102, 145, 0.2); }
    .ea-list_items:nth-child(4n+1), .ea-list_items:nth-child(4n) {
      width: 55%; }
  .ea-list_block {
    display: flex;
    flex-wrap: wrap; }
    .ea-list_block:last-child {
      margin-bottom: 20px; }
  .ea-list_item {
    width: 50%;
    padding: 3px 10px;
    box-sizing: border-box; }
    .ea-list_item:nth-child(odd) {
      text-align: right;
      font-weight: bolder; }
  .ea-list_name {
    width: 100%;
    font-size: 24px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box; }

.ea-button {
  background-color: rgba(39, 102, 145, 0.2);
  border-radius: 6px;
  box-shadow: 1px 1px 10px 0 grey; }
  .ea-button_list {
    position: absolute;
    top: 30px;
    right: 60px; }
  .ea-button a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bolder; }

.ea-button:hover, .ea-list_items:hover, .ea-list_block:hover {
  background-color: rgba(39, 102, 145, 0.5); }

form.ea-form__inside {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%; }

.ea-form__inside div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 15px 20px;
  width: 100%;
  font-size: 24px; }

.ea-form__field {
  width: 40%;
  padding: 5px 10px;
  box-shadow: 1px 1px 3px 2px grey;
  border: none;
  font-size: inherit; }

.ea-form__label {
  width: 42%;
  padding: 5px 0; }

button.ea-button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  border: none; }

.ea-header {
  background: rgba(39, 102, 145, 0.2);
  box-shadow: 1px 1px 10px 0 grey;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0; }
  .ea-header ul {
    list-style: none;
    padding: 0 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 60%;
    margin: 0 auto; }
    .ea-header ul li {
      padding: 0; }
      .ea-header ul li a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #000;
        font-weight: bold; }
        .ea-header ul li a:hover {
          background: rgba(39, 102, 145, 0.4); }
