@charset "UTF-8";

.ea-footer {
  background: rgba(39, 102, 145, 0.2);
  box-shadow: 1px 1px 10px 0 grey;
  width: 100%;

  div {
    max-width: 900px;
    padding: 10px 30px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: right;

    span {
      font-weight: bold;
    }
  }
}
