{% extends 'base.html.twig' %}

{% block title %}EA-Products New{% endblock %}

{% block body %}
<div class="ea-wrapper">
    <h1>New Product</h1>
    <div class="ea-form">
        {{ form_start(productForm) }}
            {{ form_widget(productForm) }}
            <button type="submit" class="ea-button">Save</button>
        {{ form_end(productForm) }}
    </div>
</div>
{% endblock %}
