{% extends 'base.html.twig' %}

{% block body %}
    <h1>It's Eating-project!</h1>
    <p>This project can help you to control your eating and sports.</p>
    <p>You can try it: </p>
    <ul>
        <li><a href="{{ path('security_login') }}">Login</a></li>
    </ul>
{% endblock %}
