{% extends 'base.html.twig' %}

{% block body %}
    <h1>It's Eating-project!</h1>
    <p class="ea-text">This project can help you to control your eating and sports.</p>
    {% if is_granted('ROLE_USER') %}
        <p class="ea-text ea-text--bold">You are inside system!</p>
        <div class="ea-button ea-button--front"><a href="{{ path('user_show', {'userId': userId }) }}">Your page</a></div>
    {% else %}
        <p class="ea-text ea-text--bold">You can try it: </p>
        <div class="ea-button ea-button--front"><a href="{{ path('security_login') }}">Login</a></div>
        <div class="ea-button ea-button--front"><a href="{{ path('user_register') }}">Registration</a></div>
    {% endif %}
{% endblock %}
