@charset "UTF-8";

.ea-title {
  position: relative;
}

.ea-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &_items {
    width: 40%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(39, 102, 145, 0.2);
    //box-shadow: 1px 1px 3px 2px grey;

    &:nth-child(4n+1), &:nth-child(4n){
      width: 55%;
    }

    a {
      display: block;
      text-decoration: unset;
      color: unset;
    }
  }

  &_block {
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &_item {
    width: 50%;
    padding: 3px 10px;
    box-sizing: border-box;

    &:nth-child(odd) {
      text-align: right;
      font-weight: bolder;
    }
  }

  &_name {
    width: 100%;
    font-size: 24px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
  }
}

.ea-button {
  background-color: rgba(39, 102, 145, 0.2);
  border-radius: 6px;
  box-shadow: 1px 1px 10px 0 grey;

  &_list {
    position: absolute;
    top: 30px;
    right: 60px;
  }

  a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bolder;
  }
}

.ea-button:hover, .ea-list_items:hover, .ea-list_block:hover {
  background-color: rgba(39, 102, 145, 0.5);
}
