@charset "UTF-8";

.ea-table-4, .ea-table-5, .ea-table-6 {
  thead {
    font-weight: 800;
  }
}

.ea-table-4 {
  td {
    width: 25%;
  }
}

.ea-table-5 {
  td {
    width: 20%;
  }
}

.ea-table-6 {
  td {
    width: 16%;
  }
}
